extends ../application.pug

block content
  .container
    .row
      a.btn.btn-lg.btn-success(href='/admin/menus/new') Add new menu

  each menu in menus
    .container
      .row
        .card.card-block
          .row
            .col-xs-8
              h2= menu.title
            .col-xs-2.text-xs-right
              a.btn.btn-warning(href='/admin/menus/' + menu.id + '/edit') Edit
            .col-xs-2.text-xs-right
              form(action='/admin/menus/' + menu.id, method='POST')
                input(type='hidden', name='_method', value='DELETE')
                button.btn.btn-danger(type='submit') Remove
