extends ../application.pug

block content

  form(action='/admin/register', method='POST')
  .form-group
    label Name:
    input.form-control(type='text', name='name')
  .form-group
    label Surname:
    input.form-control(type='text', name='surname')
  .form-group
    label Menu content:
    textarea.form-control(rows='20', name='content')
  .form-group.text-xs-right
    button.btn.btn-success.btn-lg(type='submit') Create Menu
