extends ../application.pug

block content

  form(action='/admin/posts', method='POST')
  .form-group
    label Menu Title:
    input.form-control(type='text', name='title')
  .form-group
    label Menu Slug:
    input.form-control(type='text', name='slug')
  //- upload image:
  //- .form-group
  //-   label Menu Image:
  //-   input.form-control(type='text', name='image')
  .form-group
    label Menu content:
    textarea.form-control(rows='20', name='content')
  .form-group.text-xs-right
    button.btn.btn-success.btn-lg(type='submit') Create Menu
