extends ../application.pug

block content

    .col-md-4.offset-md-3
      img(src= menu.image + '.jpg' width="450px" height="300px")
    .col-md-2
      .row
        h2= menu.title
        hr
      .row
        a(href= "/votes/" + votes.id)
          img(src="/img/heart.svg.png" width="200px" height="200px")
      .row
        p= ('This menu received ' + Vote.count + ' votes')

    .col-md-6.offset-md-3
        p= menu.info
