extends ../application.pug

block content

  .container(class="col-md-8 offset-md-2")
      .col-md-12
        a(href='/user/' class="btn btn-outline-success" id="back") < back to the index
      .col-md-8
        img(id="index-img" src= menu.image)
      .col-md-4
        .row
          h2(id="menu-title")= menu.title
          hr
        .row
          form(action="/menu/" + menu.id + "/votes" method="POST")
            button(type="submit" class="btn btn-link")
              img(src= "/img/heart.svg.png" id="heart")
        .row
          p(id="vote-count")= ('This menu received ' + voteCount.count + ' votes')
        .row
          h4(id="ingredients") Ingredients:
          p(id="ingredients")= menu.info
