extends ../application.pug

block content

    .col-md-4.offset-md-3
      img(src= menu.image width="450px" height="300px")
    .col-md-2
      .row
        h2= menu.title
        hr
      .row
        form(action="/menus/" + menu.slug + "/votes" method="POST")
          input(type="hidden" name="MenuId" value=menu.id)
          button(type="submit" class="btn btn-lg btn-success")  Vote
      .row
        p= ('This menu received ' + ' votes')

    .col-md-6.offset-md-3
        p= menu.info
