extends ../application.pug

block content
  .container(class="col-md-8 offset-md-2")
      .col-md-5.offset-md-2
        img-fluid(id="show-img" src= menu.image)
      .col-md-3
        .row
          h2(id="menu-title")= menu.title
          hr
        .row
          form(action="/menu/" + menu.id + "/votes" method="POST")
            button(type="submit" class="btn btn-link")
              img(src= "/img/heart.svg.png" id="heart")
        .row
          p(id="vote-count")= ('This menu received ' + voteCount.count + ' votes')

      .col-md-8.offset-md-2
          h4(id="ingredients") Ingredients:
          p= menu.info
