extends ../application.pug

block content
  .container
    .row
      .col-md-5.offset-md-2
        img(src= menu.image)
      .col-md-3
        .row
          h2= menu.title
          hr
        .row
          form(action="/menus/" + menu.id + "/votes" method="POST")
            button(type="submit" class="btn btn-link")
              img(src= "/img/heart.svg.png")
        .row
          p= ('This menu received ' + voteCount.count + ' votes')

      .col-md-8.offset-md-2
          h4 Ingredients:
          p= menu.info
