extends ../application.pug

block content
  .container(class="col-md-6 offset-md-3")
    .row
      .col-md-8.offset-md-2
        h2(id="header") Register as a user
        form(action="/authentication/new" method="POST")
          .form-group
            input(type="text" name="name" class="form-control" placeholder="Name" required=true)
          .form-group
            input(type="text" name="surname" class="form-control" placeholder="Surname" required=true)
          .form-group
            input(type="email" name="email" class="form-control" placeholder="email" required=true)
          .form-group
            input(type="password" name="password" class="form-control" placeholder="password" required=true)
          .form-goup.text-xs-right
            button.btn.btn-success(type="submit") Register
