html
  head
    title FoodVote
    link(rel="stylesheet" href="/css/" + assets['application.css'])
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body

    // navbar
    nav.navbar.navbar-lg

      a(class="navbar-brand" href="/")
        h1 FoodVote

      .nav.navbar-nav.float-xs-right
        p(id="motto") You are what you eat!
        if user
          .row
            p= 'You are logged in as ' + user.name + ' ' + user.surname
            form(action="/logout" method="POST")
              input(type="hidden" name="_method" value="POST")
              button(type="submit" class="btn btn-warning") Log out
            form(action="/user/" + user.id method="POST")
              input(type="hidden" name="_method" value="DELETE")
              button(type="submit" class="btn btn-danger") Delete account


    // content
    block content

    script(src="/js/" + assets['vendor.js'])
    script(src="/js/" + assets['application.js'])
