html
  head
    title FoodVote
    link(rel="stylesheet" href="/css/" + assets['application.css'])
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body

    // navbar
    nav.navbar.navbar-lg

      a(class="navbar-brand" href="/") FoodVote

      .nav.navbar-nav.float-xs-right
        p You are what you eat!

    // content
    block content

    // footer
    .container
      nav.navbar.navbar-fixed-bottom.navbar-lg
        .container
          h6(align="center") Copyright 2016

    script(src="/js/" + assets['vendor.js'])
    script(src="/js/" + assets['application.js'])
