html
  head
    title FoodVote
    link(rel="stylesheet" href="/css/" + assets['application.css'])
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body

    // navbar
    nav.navbar.navbar-lg

      a(class="navbar-brand" href="/users")
        h1 FoodVote

      .nav.navbar-nav.float-xs-right
        p You are what you eat!


    // content
    block content

    // footer
    if user
      .row
        .container
          nav.navbar.navbar-fixed-bottom.navbar-lg
            .container
              p= 'You are logged in as ' + user.name + ' ' + user.surname

    script(src="/js/" + assets['vendor.js'])
    script(src="/js/" + assets['application.js'])
