extends ../views/application.pug

block content

  .container
    .row
      .col-lg-6.offset-lg-3
        h1(align="center") Choices of the week
  .container
    .row
      .col-lg-6.offset-lg-3
        #carousel-example-generic.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic', data-slide-to='1')
              li(data-target='#carousel-example-generic', data-slide-to='2')
          .carousel-inner(role='listbox')
            .carousel-item.active
              img(src= menu1.image width= "600" height= "300", alt='slide')
              .carousel-caption
                .row
                  .col-lg-6
                    a(href='/menus/' + menu1.slug)
                      button.btn.btn-info(type='button') More info
                  .col-lg-6
                    form(action="/menus/" + menu1.id + "/votes" method="POST")
                      button(type="submit" class="btn btn-info") Vote
            .carousel-item
              img(src= menu2.image width= "600" height= "300", alt='slide')
              .carousel-caption
                .row
                  .col-lg-6
                    a(href='/menus/' + menu2.slug)
                      button.btn.btn-info(type='button') More info
                  .col-lg-6
                    form(action="/menus/" + menu2.id + "/votes" method="POST")
                      button(type="submit" class="btn btn-info") Vote
            .carousel-item
              img(src= menu2.image width= "600" height= "300", alt='slide')
              .carousel-caption
                .row
                  .col-lg-6
                    a(href='/menus/' + menu2.slug)
                      button.btn.btn-info(type='button') More info
                  .col-lg-6
                    form(action="/menus/" + menu2.id + "/votes" method="POST")
                      button(type="submit" class="btn btn-info") Vote
          a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.icon-prev(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.icon-next(aria-hidden='true')
            span.sr-only Next
