extends application.pug

block content

  .container(id="landing-page" class="col-md-8 offset-md-2")
      .row
        .col-md-6.offset-md-3
          h1(align="center" id="landing-text") Welcome to FoodVote!
      .row
        .col-md-3.offset-md-3
          a(class="btn btn-outline-success btn-lg btn-block" href='/authentication/login') Log in
        .col-md-3
          a(class="btn btn-outline-success btn-lg btn-block" href='/authentication/register') Register
