extends ../views/application.pug

block content

  .container
    .row
      .col-lg-6.offset-lg-3
        h1(align="center") Choices of the week
  .container
    .row
      .col-lg-6.offset-lg-3
        #carousel-example-generic.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            each menu in menus
              li(data-target='#carousel-example-generic')
          .carousel-inner(role='listbox')
            each menu in menus
              .carousel-item
                img(src= menu.image width= "600" height= "300", alt='slide')
                .carousel-caption
                  .row
                    .col-lg-6
                      a(href='/menus/' + menu.slug)
                        button.btn.btn-info(type='button') More info
                    .col-lg-6
                      form(action="/menus/" + menu.id + "/votes" method="POST")
                        button(type="submit" class="btn btn-info") Vote
          a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.icon-prev(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.icon-next(aria-hidden='true')
            span.sr-only Next
