extends ./application.pug

block content

  .container(id="landing-page" class="col-md-6 offset-md-3")
      .row
        .col-md-8.offset-md-2
          h1(id="header") Welcome to FoodVote
      .row
        .col-md-4
          a(class="btn btn-outline-success btn-lg btn-block" id="landing-button" href='/authentication/login') Log in
        .col-md-4
          a(class="btn btn-outline-success btn-lg btn-block" id="landing-button" href='/authentication/register') Register
        .col-md-4
          a(class="btn btn-outline-success btn-lg btn-block" id="landing-button" href='/users') Preview
