extends application.pug

block content

  .container
    .row
      .col-lg-6.offset-lg-3
        h1(align="center") Welcome to FoodVote!
    .row
      .col-lg-3.offset-lg-3
        a(href='/authentication/login')
          button.btn.btn-info(type='button') Log in
      .col-lg-3
        a(href='/authentication/register')
          button.btn.btn-info(type='button') Register
  .container
    .row
