extends ../views/application.pug

block content
  .row
    .col-md-4.offset-md-2
      img(src="/img/1.jpg")
    .col-md-4
      .row
        h2 Tuna salad
        hr
      .row
        img(src="/img/heart.svg.png" width="200px" height="200px")
