a:link {
    text-decoration: none;
}

body {
  background-image: url("/img/food.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

body p {
  color: white;
}

#index-title {
  color: white;
  text-align: center;
  font-weight: 200;
}

#ingredients {
  color: white;
  text-align: center;
}

#menu-title {
  color: white;
}

.navbar-brand h1 {
  color: white;
  font-weight: bold;
  font-size: 56px;
}

.navbar-brand h1:hover {
  color: #5cb85c;
}

.nav.navbar-nav.float-xs-right p {
  font-size: 18px;
  text-align: right;
}
.nav.navbar-nav.float-xs-right a p {
  color: #5cb85c;
  text-decoration: none;
}

@media only screen and (max-device-width: 480px) {
  #motto {
    display: none;
  }
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  border-radius: 10px;
  padding: 25px;
  margin: 0 auto;
  margin: 15px;
  width: 100%;
  top: 35%;
  transform: translateY(-50%);
}

#header {
  color: white;
  font-weight: 200;
  text-align: center;
  margin-bottom: 25px;
}

#user-login {
  margin: auto 0;
}

#menu-title {
  text-align: center;
}

#vote-count {
  text-align: center;
}

#heart {
  width: 100%;
}

#index-row {
  margin-top: 15px;
}

#index-button {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#index-img {
  width: 100%;
}

#back {
  display: block;
  margin-bottom: 15px;
}

nav.navbar.navbar-fixed-bottom.navbar-lg {
  position: fixed;
}
