extends ../application.pug

block content

  .container(class="col-md-10 offset-md-1" id="show-page")
    .row
      .col-md-12
        h1(id="header") Choices of the week
    .row
      .col-md-12
        each menu in menus
          .col-md-4(id="index-menu")
            h4(id="index-title")=menu.title
            img(id="index-img" src=menu.image alt='slide')
            .row(id="index-row")
              .col-md-6
                a(href='/menus/' + menu.slug id="index-button" class="btn btn-outline-success") More info
              .col-md-6
                form(action="/menus/" + menu.id + "/votes" method="POST" id="index-button" class="btn btn-outline-success") Vote
