extends ../application.pug

block content
  .container
    .row
      form(action='/admin/new', method='POST')
        button.btn.btn-lg.btn-success(type='submit') Add new menu
    each menu in menus
      .row
        .card.card-block
          .row
            .col-xs-8
              h2= menu.title
            .col-xs-2.text-xs-right
              a.btn.btn-warning(href='/admin/posts/edit' + menu.id) Edit menu
            .col-xs-2.text-xs-right
              form(action='/admin/posts/', method='POST')
                input(type='hidden', name='_method', value='DELETE')
                button.btn.btn-danger(type='submit') Remove menu
