
block content
.row
    .col-xs-6.offset-xs-6
      h1.text-xs-center Change password:
      hr
      form(action='/forgotpassword', method='POST')
        .form-group
          label User email:
          input.form-control(type='text', name='email')
        .form-group.text-xs-right
          button.btn.btn-success.btn-lg(type='submit') Send reset password email
